<div class="container">

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to the hospital system!</h1>
      <p class="lead my-3"> Book your appoinment today! We are willing to help!</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Medical News Update</strong>
          <h3 class="mb-0">Update from COVID-19</h3>
          <p class="card-text mb-auto"> Learn more about COVID-19 and see what we can help you</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Daily Personal Care</strong>
          <h3 class="mb-0">Latest Personal Care Method</h3>
          <p class="mb-auto">Your routine affects a lot to your health!s</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
  </div>
</div>